$common-padding: 10px;
$animate-sec: 1.5s;

$icon-color: #EFEFEF;
$volume-bar-background: #D0D0D0;
$process-bar-background: #B5B2B2;
$audio-progress-container-border: #575757;
$audio-progress-indicator: #F3F3F3;

.audio-player {
	//max-width: 324px;
	//background: #eeeeee;
	margin-top: 10px;
	background: #434343;
	vertical-align: middle;
	padding: $common-padding;
	border-radius: 7px;
}

.audio-button-panel {
	padding-top: 2px;
	.toggleButton {
		background: transparent;
		border: none;
		padding: 0;
		margin-left: 5px;
	}
	.btn:focus {
		background-color: transparent;
		outline: none;
	}
	.btn:hover {
		background: transparent;
	}
}

.audio-refresh-animate {
	-webkit-animation: rotating $animate-sec linear infinite;
	-moz-animation: rotating $animate-sec linear infinite;
	-ms-animation: rotating $animate-sec linear infinite;
	-o-animation: rotating $animate-sec linear infinite;
	animation: rotating $animate-sec linear infinite;
}

.control-icons {
	color: $icon-color;
	font-size: 20px;
	margin: 0 5px;
}

.audio-progress-container {
	float: left;
	height: 10px;
	border: 0.4px solid $audio-progress-container-border;
	width: 77%;
	border-radius: 50px;
	margin-top: 10px;
	background-color: #000;
	cursor: pointer;
}

.audio-progress-container-short-width {
	width: 130px;
}

.audio-progress {
	position: relative;
	background: $process-bar-background;
	border-radius: 50px;
	width: 100%;
	height: 100%;
	.audio-progress-indicator {
		position: absolute;
		height: 12px;
		width: 20px;
		background-color: $audio-progress-indicator;
		right: -13px;
		top: -2px;
		border-radius: 80px;
	}
}

.audio-songs-list {
	float: left;
	margin-left: $common-padding;
}

.audio-song-item-not-selected {
	float: left;
	display: block;
	width: 14px;
	height: 1px;
}

.audio-song-item-label {
	padding-left: $common-padding;
}

.audio-volume-bar-container {
	float: left;
	padding-left: $common-padding;
	padding-top: 2px;

	.toggleButton {
		background: transparent;
		border: none;
		padding: 0;
	}

	.btn:focus {
		background-color: transparent;
		outline: none;
	}
	.btn:hover {
		background: transparent;
	}

	.audio-volume-bar {
		position: absolute;
		z-index: 1001;
		background: $volume-bar-background;
		border-radius: 3px;
	}

	.audio-volume-bar-hide {
		display: none;
	}

	.audio-volume-percent-container {
		border-top: 1px solid #aaa;
		border-bottom: 1px solid #aaa;
		width: 34px;
		height: 100px;
		position: relative;
		cursor: pointer;
	}

	.audio-volume-min-max {
		width: 100%;
		height: 30px;
		text-align: center;
		cursor: pointer;
		span {
			top: 6px;
		}
	}

	.audio-volume-percent {
		width: 100%;
		bottom: 0;
		top: 50%;
		background: #666;
    	position: absolute;
	}

}

.audio-desc-container {
	width: 100%;
	vertical-align: middle;
	padding-top: 3px;
}

.audio-time {
	margin-left: $common-padding;
	color: #fff;
}

.audio-name-label {
	max-width: 180px;
	height: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
	color: #fff;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@-webkit-keyframes rotating {
  from {
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}
